body {
  margin: 0;
  padding: 1rem 2rem 2rem 2rem;
  min-height: 100vh;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

#mikami {
  color: #eb642f;
  font-family: 'Trebuchet MS';
  font-weight: bold;
  font-style: italic;
  font-size: large;
}

#header {
  background-color: #242424;
  height: 220px;
}

#footer {
  background-color: #242424;
  height: 50px;
}
